<h1>商品編集画面</h1>

<%= form_with model: @item, url: admin_item_path(@item.id), local:true do |f| %>
  <%= f.attachment_field :image, placeholder: "プロフィール画像" %>
  <lavel for="inputName">商品名</lavel>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"商品名" %>
  <lavel for="inputName">商品説明</lavel>
  <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"商品説明" %>
  <lavel for="inputName">税抜価格</lavel>
  <%= f.text_field :price, autofocus: true, id:"inputPrice", placeholder:"税抜価格" %>円
  <%= f.submit "変更を保存" %>
<% end %>