<div class="contents">
  
  <div class="genre-box">
    <p class="genre-search">ジャンル検索</p>
    <ul>
      <% @genres.each do |genre| %>
          <li class="genre"><%= genre.name %></li>
      <% end %>
    </ul>
  </div>
  
  <div class="right-box">
    <div class="explanation">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
    
    <div class="box">
      <h2 class="contents-title">新着一覧</h1>
      <div class="new-item-list">
        <% @items.each do |item| %>
          <div class="new-item">
            <%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :image, size: "150x150" %>
            <% end %>
            <p><%= item.name %></p>
            <p><%= item.price %>円</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>