  <div class="contents">
    <div class="row">
      <h1 class="public-contents-title">配送先登録/一覧</h1>
        <%= form_with model: @address, url: addresses_path, local:true do |f| %>
          <div class="form-group">
            <%= f.label :postal_code, "郵便番号" %>
            <%= f.text_field :postal_code, class: '' %>
          </div>
          <div class="form-group">
            <%= f.label :address, "住所" %>
            <%= f.text_field :address, class: '' %>
          </div>
          <div class="form-group">
            <%= f.label :name, "宛名" %>
            <%= f.text_field :name, class: '' %>
          </div>
          <div class="form-group">
            <%= f.submit '新規登録', class: '' %>
          </div>
        <% end %>

      <table class="table">
        <thead>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </thead>
        <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
                <%= link_to "削除する", address_path(address.id), class: "btn btn-danger", method: :delete %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>