<div class="container">
  <div class="row">
    <h1>注文情報入力</h1>
    <%= form_with model: @order, url: confirm_path, local:true do |f| %>
    <div>
      <h2>支払方法</h2>
      <div class="form-group">
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :credit_card,"クレジットカード" %>
      </div>
      <div class="form-group">
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :transfer, "銀行振込" %>
      </div>
    </div>
    <div>
      <h2>お届け先</h2>
      <div class="form-group">
        <%= f.radio_button :address_option, 0 %>
        <%= f.label :address,"ご自身の住所" %>
        〒<%= current_customer.postal_code %>
        <%= current_customer.address %>
        <%= current_customer.last_name %>
        <%= current_customer.first_name %>
      </div>
      <div class="form-group">
        <%= f.radio_button :address_option, 1 %>
        <%= f.label :address,"登録済みの住所" %>
        <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
      </div>
      <div class="form-group">
        <%= f.radio_button :address_option, 2 %>
        <%= f.label :address_id,"新しいお届け先" %>
        <div>
          <%= f.label :postal_code,"郵便番号" %>
          <%= f.text_field :postal_code %>
        </div>
        <div>
          <%= f.label :address,"住所" %>
          <%= f.text_field :address %>
        </div>
        <div>
          <%= f.label :name,"宛名" %>
          <%= f.text_field :name %>
        </div>
      </div>
    </div>
    <%= f.submit '確認画面へ進む' %>
    <% end %>

  </div>
</div>
